[Unit]
Description=matrix-mattermost bridge
After=network.target

[Service]
User=matrix-mattermost
Group=matrix-mattermost
ExecStart=/usr/bin/node /home/matrix-mattermost/lib/build/index.js -f /home/matrix-mattermost/registration/registration.yaml -c /home/matrix-mattermost/config.yaml
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=multi-user.target
